<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<div class="row"><a href="/" class="small light">&larr; На главную</a></div>
			<br />
			<div class="row title"> Страница не найдена</div>

			<div class="row">
				<p> Страница, которую вы ищите, не существует на этом сервере.</p>
			</div>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
