<br />
<footer>
	<section class="flex">
		<div>
			
		</div>
		<nav>
			<a href="/terms">Условия использования</a>
			&middot;
			<a href="/privacy">Политика конфиденциальности</a>
		</nav>
	</section>
	<section>
		
	
	</section>
</footer>
