<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<br />
			<div class="row title">"Наберёшь?" - корпоративный веб сервис для видеозвонков.</div>
			<div class="row">
				<p>
					Веб сервис для корпоративных видеозвонков. 
					<br>Без регистрации, без скачивания, без ограничений.
				</p>
				<p>
					Просто поделитесь ссылкой на канал с коллегами и соединитесь мгновенно.
				</p>
			</div>

			<div class="row">
				<div id="channelbox" class="flex">
					<span class="perma-placeholder">call.motorzona.ru/</span>
					<input type="text" placeholder="id канала" class="flex-1" />
					<button onClick="onJoin()">Начать</button>
				</div>
				<div class="small light">Ввод ID канала не обязателен - нажмите "Начать" для генерации случайного канала.</div>
			</div>


			<script type="text/javascript">
				const inputElement = document.querySelector("#channelbox input");
				function onJoin() {
					let channelId = document.querySelector("#channelbox input").value;
					if (!channelId) channelId = Math.random().toString(36).substr(2, 6);

					window.location.pathname = channelId;
				}

				inputElement.addEventListener("keypress", function (e) {
					if (e.key === "Enter") {
						e.preventDefault();
						onJoin();
					}
				});

				(() => {
					if ("serviceWorker" in navigator) {
						navigator.serviceWorker.register("/sw.js");
					}
				})();
			</script>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
