<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<div class="row"><a href="/" class="small light">&larr; На главную</a></div>
			<br />
			<div class="row title">Неверное название канала</div>

			<div class="row">
				<p>
					Название канала может содержать буквы, цифры и тире (-). 
					Нет эмоджи, нет пробелов, нет знаков препинания и не более 64 символов.
					
				</p>
			</div>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
